<div class="container">

    
    <nav class="navbar navbar-inverse">
        
        <input type="text" class="for-control" placehoder="Search" ng-model="query"> 
        
        <ul class="nav navbar-nav pull-right">
            <li><a ng-click="queryModel=''">All</a></li>
            <li><a ng-click="queryModel='HTC'">HTC</a></li>
            <li><a ng-click="queryModel='Lenovo'">Iphone</a></li>
            <li><a ng-click="queryModel='Iphone'">Lenovo</a></li>
            
            <li><a ng-click="sortOrder='price'; reverse=!reverse">Сортировать по цене</a></li>
            <li><a ng-click="cart.sor('name')">Сортировать по названию</a></li>
            <li><a ng-click="cart.sor('model')">Сортировать по модели</a></li>
            
        </ul>
    </nav>
    
    <div class="row">
        <ul>
            <li ng-repeat="item in cart.productList | filter:query |orderBy: cart.sor.By">
                <div class="col-xs-12 col-md-4 pannel product">
                    <img ng-src="{{item.img}}">
                    <span class="price">{{item.price}}</span>
                    <h2>{{item.name}}</h2>
                    <h3>{{item.model}}</h3>
                    <p>{{item.description}}</p>
                    <input type="button" value="Buy" ng-click="cart.buy(1, item)">
                    <a ng-click="">Details</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="basket">
    <p>Basket</p>
    <p>Items:{{cart.itemCounter}}</p>
    <p>Total:{{cart.sum}}</p>
    <a ui-sref="shopping-cart">Check in Cart</a>
   
    
</div>
